<a href="https://colab.research.google.com/github/oyamo/AzureWebAppDeploy/blob/master/Practical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis Using python
The following notebook is used to import data from a postgress Database for an online retail data analysis

## Import Libraries

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import psycopg2

## Import data from Postres

In [ ]:
engine = create_engine('postgresql+psycopg2://test:@127.0.0.1', pool_recycle=3600);
conn    = alchemyEngine.connect();

## Load data to Pandas

In [ ]:
df = pds.read_sql("select * from \"employees\"", conn);

## PreAnalysis:

In [ ]:
df.head()